body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F57921;
  }
  
  .boggle {
    text-align: center;
  }

  .logo {
    margin-top: 20px;
  }

  .board {
    text-align: center;
    margin-top: 30px;
  }

  .boardTable {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 10px solid #3e8bd9;
    border-radius: 5%;
    background-color: #3e8bd9
}

.board button {
  margin: 5px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: #3e8bd9;
  font-weight: bold;
  border-radius: 10%;
}

.board button:active, .board button.active {
  background-color: rgb(246, 142, 67);
}

.board button:hover {
  background-color: rgb(246, 142, 67);
}

.word-submit {
  width: 380px;
  display: block;
  margin: 0 auto;
}

.word-submit input {
  margin-top:20px;
  background-color: #F57921;
  width: 100%;
  font-size: 30px;
  border: none;
  border-bottom: 4px solid #3e8bd9;
  color: white;
  text-transform: uppercase;
}

.word-submit input:focus {
  outline: none;
}

.word-submit button {
  margin-top: 20px;
  width: 380px;
  height: 50px;
  color: #3e8bd9;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #3e8bd9;
  border-radius: 10%;
}

.word-submit button:active {
  background-color: rgb(246, 142, 67);
}

.scoreTable {
  border-collapse: collapse;
  position: absolute;
  right: 1000px;
  width: 209px;
  height: 95px;
  font-size: 25px;
  color: white;
}

.listOfWords {
  border-collapse: collapse;
  position: absolute;
  top: 90px;
  left: 1000px;
  font-size: 25px;
  border-radius: 5%;
}

.listOfWords > ul {
  list-style-type: none;
  margin-right: 30px;
  font-weight: bold;
  color: white;
}

.listOfWords > ul > li {
  font-weight:normal; 
  font-size:25px; 
  text-decoration:none;
  text-align: left;
}

.timer {
  position: absolute;
  right: 1100px;
  top: 300px;
}

.game-over {
  position: absolute;
  left:160px;
  top: 110px;
  padding-right: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: red;
  opacity: 0.5;
  font-size: 200px;
  transform: rotate(20deg);
  -webkit-animation:colorchange 10s infinite alternate;
  height: 100%;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
}

.reset {
  position: absolute;
  left: 1000px;
  top: 50px;
}

.reset button {
  width: 250px;
  height: 100px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: #3e8bd9;
  border: 1px solid #3e8bd9;
  border-radius: 10%;
}

.reset button:active {
  background-color: rgb(246, 142, 67);
}


.error-message, .exist-message {
  position: absolute;
  left: 910px;
  top: 630px;
  width: 300px;
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-size: 35px 30px;
  background-position: 10px center;
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://vignette.wikia.nocookie.net/runescapeclans/images/c/cb/Warning.png/revision/latest?cb=20110113055526');
}

  