body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F57921;
  }
  
  .boggle {
    text-align: center;
  }

  .logo {
    margin-top: 20px;
  }

  .board {
    text-align: center;
    margin-top: 30px;
  }

  .boardTable {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border: 10px solid #3e8bd9;
    border-radius: 5%;
    background-color: #3e8bd9
}


.board button {
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: #3e8bd9;
  font-weight: bold;
  border-radius: 10%;
}

.board button:active {
  background-color: rgb(246, 142, 67);
}

.word-submit {
  margin-top: 30px;
}

.word-submit input {
  background-color: #F57921;
  width: 20%;
  font-size: 50px;
  border: none;
  border-bottom: 4px solid #3e8bd9;
  color: white;
  text-transform: uppercase;
}

.word-submit input:focus {
  outline: none;
}

.word-submit button {
  position: absolute;
  left: 850px;
  margin-left: 20px;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  color: #3e8bd9;
}


.scoreTable {
  border-collapse: collapse;
  position: absolute;
  right: 1000px;
  width: 209px;
  height: 95px;
  font-size: 25px;
  color: white;
}

.listOfWords {
  border-collapse: collapse;
  position: absolute;
  left: 1000px;
  border: 5px solid #3e8bd9;
  font-size: 25px;
  border-radius: 5%;
}

.listOfWords > ul {
  list-style-type: none;
  margin-top: 15px;
  margin-right: 30px;
  font-weight: bold;
  color: white;
}



.listOfWords > ul > li {
  font-weight:normal; 
  font-size:18px; 
  text-decoration:none;
}

.timer {
  position: absolute;
  right: 1100px;
  top: 300px;
}


  